{% extends "base.html" %}

{% block content %}
    <h2>Browse Exercises</h2>

    {% if session.get('is_admin') == 1 %}
        <a href="{{ url_for('create_exercise_route') }}">
            <button>Create New Exercise</button>
        </a>
    {% endif %}

    {% for exercise in exercises %}
        <div class="entry">
            <h3>
                <a href="{{ url_for('exercise_detail', exercise_id=exercise.id) }}">{{ exercise.title }}</a>
            </h3>
            <p>{{ exercise.description }}</p>
            <p>Note Range: {{ exercise.note_range }}</p>
            <p>Concept: {{ exercise.musical_concept }}</p>
            <p class="date">{{ exercise.created_at }}</p>
        </div>
    {% endfor %}
{% endblock %}
