.dark {
  --md-sys-color-primary: rgb(251 186 115);
  --md-sys-color-surface-tint: rgb(251 186 115);
  --md-sys-color-on-primary: rgb(73 41 0);
  --md-sys-color-primary-container: rgb(104 61 0);
  --md-sys-color-on-primary-container: rgb(255 220 188);
  --md-sys-color-secondary: rgb(224 193 163);
  --md-sys-color-on-secondary: rgb(64 45 24);
  --md-sys-color-secondary-container: rgb(88 67 44);
  --md-sys-color-on-secondary-container: rgb(254 221 190);
  --md-sys-color-tertiary: rgb(190 204 155);
  --md-sys-color-on-tertiary: rgb(41 52 17);
  --md-sys-color-tertiary-container: rgb(63 75 37);
  --md-sys-color-on-tertiary-container: rgb(218 233 182);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(25 18 12);
  --md-sys-color-on-background: rgb(238 224 213);
  --md-sys-color-surface: rgb(25 18 12);
  --md-sys-color-on-surface: rgb(238 224 213);
  --md-sys-color-surface-variant: rgb(80 69 58);
  --md-sys-color-on-surface-variant: rgb(213 195 181);
  --md-sys-color-outline: rgb(157 142 129);
  --md-sys-color-outline-variant: rgb(80 69 58);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(238 224 213);
  --md-sys-color-inverse-on-surface: rgb(55 47 40);
  --md-sys-color-inverse-primary: rgb(132 83 22);
  --md-sys-color-primary-fixed: rgb(255 220 188);
  --md-sys-color-on-primary-fixed: rgb(44 23 0);
  --md-sys-color-primary-fixed-dim: rgb(251 186 115);
  --md-sys-color-on-primary-fixed-variant: rgb(104 61 0);
  --md-sys-color-secondary-fixed: rgb(254 221 190);
  --md-sys-color-on-secondary-fixed: rgb(41 24 5);
  --md-sys-color-secondary-fixed-dim: rgb(224 193 163);
  --md-sys-color-on-secondary-fixed-variant: rgb(88 67 44);
  --md-sys-color-tertiary-fixed: rgb(218 233 182);
  --md-sys-color-on-tertiary-fixed: rgb(21 31 1);
  --md-sys-color-tertiary-fixed-dim: rgb(190 204 155);
  --md-sys-color-on-tertiary-fixed-variant: rgb(63 75 37);
  --md-sys-color-surface-dim: rgb(25 18 12);
  --md-sys-color-surface-bright: rgb(64 56 48);
  --md-sys-color-surface-container-lowest: rgb(19 13 7);
  --md-sys-color-surface-container-low: rgb(33 26 20);
  --md-sys-color-surface-container: rgb(37 30 23);
  --md-sys-color-surface-container-high: rgb(48 41 33);
  --md-sys-color-surface-container-highest: rgb(59 51 44);
}
